header
  display flex

  & > div
    display flex
    flex 1
    align-items center

    &:first-child
      justify-content flex-start

    &:last-child
      justify-content flex-end


.date-container
  text-transform capitalize
  font-size 2rem
  font-weight 100

.color-warm
  color #DF9882

.main-info
  font-size 4rem
  font-weight 500
  margin-right 30px

.days-weather
  text-transform capitalize