.city-input-container
  position relative

.search-icon
  position absolute
  right 0
  bottom 5px

.city-input
  border none
  font-size 2rem
  text-align center
  text-overflow ellipsis
  border-bottom 1px solid #555
  &:focus
    outline 0

.inline-link-button
  border-bottom 1px dotted #555
  cursor pointer

.cities-options-container
  position absolute
  top 110%
  width 100%
  background #fff
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6)
  max-height 200px
  overflow-y auto

.city-option
  text-align center
  padding 10px 0
  border-bottom 1px solid #ccc
  cursor pointer
  &:hover
    background rgba(252,122,11, 0.1)
